[Unit]
After=network.target

[Service]
Type=exec
Restart=always
ExecStart=/opt/sam -H 0.0.0.0 -p 8000 host [host ...]
User=sam
ProtectSystem=yes
ProtectHome=yes
ProtectProc=invisible
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target
